.s-ignup941253-container {
  min-height: 100vh;
}
.s-ignup941253-s-ignup941253 {
  width: 1440px;
  height: 1240px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.s-ignup941253-trade-maxi-logo941254 {
  top: 16px;
  left: 555px;
  width: 246px;
  height: 105px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.s-ignup941253-text {
  top: 26px;
  left: 121px;
  color: rgba(23, 54, 179, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Comic Sans MS;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-ignup941253-trade-maxilogo-i94125478229 {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 105px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.s-ignup941253-image {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 105px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.s-ignup941253-text01 {
  top: 144px;
  left: 547px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  text-decoration: none;
}
.s-ignup941253-text02 {
  top: 200px;
  left: 472px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.s-ignup941253-form96140 {
  top: 280px;
  left: 405px;
  width: 630px;
  height: 96px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.s-ignup941253-form-i9614096127 {
  top: 0px;
  left: 0px;
  width: 630px;
  height: 96px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.s-ignup941253-image1 {
  top: 29.935483932495117px;
  left: 0px;
  width: 630px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--dl-color-default-deepertertiarycolour6a0cc);
}
.s-ignup941253-text06 {
  top: 0px;
  left: 2px;
  color: rgba(0, 0, 0, 1);
  width: 46px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.s-ignup941253-form96144 {
  top: 416px;
  left: 405px;
  width: 630px;
  height: 96px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.s-ignup941253-form-i9614496127 {
  top: 0px;
  left: 0px;
  width: 630px;
  height: 96px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.s-ignup941253-image2 {
  top: 29.935483932495117px;
  left: 0px;
  width: 630px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--dl-color-default-deepertertiarycolour6a0cc);
}
.s-ignup941253-text07 {
  top: 0px;
  left: 2px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.s-ignup941253-form96148 {
  top: 552px;
  left: 405px;
  width: 630px;
  height: 96px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.s-ignup941253-form-i9614896127 {
  top: 0px;
  left: 0px;
  width: 630px;
  height: 96px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.s-ignup941253-image3 {
  top: 29.935483932495117px;
  left: 0px;
  width: 630px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--dl-color-default-deepertertiarycolour6a0cc);
}
.s-ignup941253-text08 {
  top: 0px;
  left: 2px;
  color: rgba(0, 0, 0, 1);
  width: 46px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.s-ignup941253-form96190 {
  top: 688px;
  left: 405px;
  width: 630px;
  height: 96px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.s-ignup941253-form-i9619096127 {
  top: 0px;
  left: 0px;
  width: 630px;
  height: 96px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.s-ignup941253-image4 {
  top: 29.935483932495117px;
  left: 0px;
  width: 630px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--dl-color-default-deepertertiarycolour6a0cc);
}
.s-ignup941253-text09 {
  top: 0px;
  left: 2px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.s-ignup941253-form96194 {
  top: 824px;
  left: 405px;
  width: 630px;
  height: 96px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.s-ignup941253-form-i9619496203 {
  top: 0px;
  left: 0px;
  width: 630px;
  height: 96px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.s-ignup941253-image5 {
  top: 29.935483932495117px;
  left: 0px;
  width: 630px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--dl-color-default-deepertertiarycolour6a0cc);
}
.s-ignup941253-text10 {
  top: 0px;
  left: 2px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.s-ignup941253-image6 {
  top: 48.06451416015625px;
  left: 573px;
  width: 32px;
  height: 32px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.s-ignup941253-button1100484 {
  top: 1058px;
  left: 597px;
  width: 247px;
  display: flex;
  opacity: 0.50;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.s-ignup941253-button2i100484100476 {
  display: flex;
  padding: 20px 60px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-default-primarycoloura19e7);
}
.s-ignup941253-text11 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  text-decoration: none;
}
.s-ignup941253-image7 {
  top: 960px;
  left: 405px;
  width: 49px;
  height: 40px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 4px;
  background-color: rgba(231, 231, 249, 1);
}
.s-ignup941253-text12 {
  top: 969px;
  left: 466px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.s-ignup941253-text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.s-ignup941253-text14 {
  color: rgba(23, 54, 179, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.s-ignup941253-text15 {
  color: rgba(23, 54, 179, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.s-ignup941253-text16 {
  top: 1160px;
  left: 594px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.s-ignup941253-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.s-ignup941253-text18 {
  color: rgba(23, 54, 179, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.s-ignup941253-text19 {
  color: rgba(23, 54, 179, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.s-ignup941253-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
